:root {
  --dark: rgb(53, 57, 53);
  --dark-green: rgb(19, 42, 19);
  --green-800: rgb(27, 60, 27);
  --green-600: rgba(80, 120, 46);
  --green-400: rgb(144, 169, 85);
  --green-light: rgb(236, 243, 158);
}
