:root {
  --dark: rgb(53, 57, 53);
  --dark-green: #132a13;
  --green-800: #1b3c1b;
  --green-700: #4f772d;
  --green-600: #50782e;
  --green-400: #90a955;
  --green-light: #ecf39e;
  --default-text-color: #31572c;
}
